html, body, div, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, img, strong, ul, li, form, label {
  margin:0; padding:0; border:0; background:transparent;
}

* {
  font-family: "Raleway";
}

/* lists */
.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

/* floats */
.float-l { float: left;}
.float-r { float: right;}
.float-min { float: left;}

body {
  color: #333;
  text-shadow: 0 1px 0 #fff;
  font-size: 62.5%;
}

.container {
   max-width: auto;
}

.container-produto {
   display: table;
}

.descricao-produto {
   display: table;
}

#centro {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align:center;
  color: #00008B;


  top: 50%; /* posiciona na metade da tela */
  margin-top: 25px;
}

#Games {
  border: 0;
  padding: 0 0 100px 0;
}

.conteudo-esq {
  float: left;
  margin-left: 10%;
  width: 100%;
}

.conteudo-dir {
  margin-left: 50%;
}

.margin-l-100 {
  width: 100%;
  text-align:center;
  top: 50%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.clear { clear: both; }

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: 90px;
  margin-bottom: 3.6em;
  border-bottom: 1px solid #ccc;
  background: white;
}

.menu {
   width: 25%;
   float: left;
}

header a {
  padding-left: 20px;
}

header ul {
  padding: 30px 0 0 80px;
}

header li:first-child {
  border: none;
}

header li a {
  display: block;
  padding: 3px 12px;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.active{
  color: #4ec2dd;
  font-weight: bold;
}

header li a:hover {
  color: #00008B;
}

footer {
  width: 100%;
  margin-top: 2.4em;
  left:0;
  float: left;
  clear: both;
  background: #4ec2dd;
}

footer div {
  background-color: #0f4156;
}

footer h1 a {
  color: #333;
}

footer li:first-child {
  border: none;
}

footer a div {
  display: block;
  padding: 20px 40px 10px 50px;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.align-mid {
    background-color: #4EC2DD;
    color: #FFF;
    float:left;
    padding: 40px 0 10px 20px;
}

 .preco-produto {
     background-color: #F8F8F8;
     color: #CECECE;
     padding: 10px 0 20px 20px;
}

 .preco-produto-mini {
    background-color: #F8F8F8;
    color: #CECECE;
    padding: 10px 0 0 10px;
     margin-left:5px;
     margin-right:5px;"
}

.frete-produto {
    background-color: #4ec2dd;
    color: #FFFFFF;
    padding: 15px 0 15px 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    font-weight: bold;
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

h1.azul-claro-preco {
  font-size: 4em;
  color: #4ec2dd;
}

h1.azul-claro-preco-peq {
  font-size: 2em;
  color: #4ec2dd;
  text-align:left;
}

h1.azul-cinza-preco-peq {
  font-size: 1.5em;
  color: #cdcdcd;
  text-align:left;
  font-weight: normal;
}

h1.azul-escuro-descricao {
  font-size: 3em;
  color: #000080;
  font-weight: normal;
}

p.azul-claro-preco {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bold;
  color: #4ec2dd;
}

img.mini-size {
  width:85%;
  height:250px;
}

p.align-left-desc {
  font-size: 1.5em;
  text-align:left;
  line-height: 2;
  padding-top: 1%;
}

div.box-produtos {
	width: 25%;
	display: inline-block;
}

p.cinza {
  color: #cdcdcd;
}


h3.titulo {
  font-size: 3em;
  font-weight: normal;
  margin-left: 5%;
}

.letra-media-desc {
  font-size: 2em;
}

.letra-peq-desc {
  font-size: 15px;
  text-align:left;
  line-height: 20px;
}

.button {
  background-color: #71ce4b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 0 2px 5px #4CAF50;
  cursor: pointer;
}

.button-calc {
  background-color: #0f4156;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0f4156;
  cursor: pointer;
}

.button-close {
  background-color: #0f4156;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0f4156;
  cursor: pointer;
  width: 40%;
  height: 50%;
  margin-left:30%;
}

.cep {
    border: none;
    color: #808080;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 3px #b5b5b5;
    margin-right: 5px;

}

.tamanho-med {
  font-size: 15px;
}


section {
  padding: 120px 65px 20px;
  border-top: 1px solid #ccc;
  line-height: 24px;
}

section:after {
  content: "";
  display: block;
  clear: both;
}

section img {
  width:43%;
  margin: 0 0 10px 1%;
}

.min-img {
  width:5%;
}

.border {
  border: 1px solid #ccc;
}

.border-mais-prod {
  border: 1px solid white;
}

section p {
  padding: 0 0 20px;
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  width: 25%;
  height : auto;
  border-radius: 5px;
}

.close { /* APONTAMENTO PARA UTULIZAÇÃO DO BUTTON NO JS */
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* !!! COMEÇO DA PARTE MOBILE !!! */

@media screen and (max-width: 769px) {
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

.conteudo-dir {
    margin-left: 0;
}

div.box-produtos {
    width: 100%;
    display: inline-block;
    float: left;
}

.conteudo-esq {
  margin-left: 0;
}

.float-min {
  margin-left: 10%;
}

.min-img  {
  width:10%;
}

h3.titulo {
  margin-top: 45%;
}

.button {
  margin-left: 17%;
}

.button-calc {
  margin-left: 20%;
  margin-top: 5%;
}

.container-produto {
  margin-top: 30px;
}

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a {
    padding: 15px 10px;
  }

  header li a:hover {
    background-color: #ccc;
  }

  /* Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  /* Modal Content */
  .modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    width: 25%;
    height : auto;
    border-radius: 5px;
  }

  .close { /* APONTAMENTO PARA UTULIZAÇÃO DO BUTTON NO JS */
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 30px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }

  .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    visibility: visible;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  header+section {
    padding-top: 80px;
  }

  section {
    padding: 30px 15px 10px;
  }

  .highlights-item {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .highlights-item p {
    opacity: 0;
    -webkit-transition: opacity 500ms 500ms ease-in-out;
    transition: opacity 500ms 500ms ease-in-out;
  }

  .highlights-buttons {
    display: block;
    padding-top: 10px;
  }

  .highlights input {
    visibility: visible;
  }

  .highlights input:checked + div {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .highlights input:checked + div p {
    opacity: 1;
  }

  .highlights input:nth-of-type(1):checked ~ .highlights-buttons label:nth-child(1),
  .highlights input:nth-of-type(2):checked ~ .highlights-buttons label:nth-child(2),
  .highlights input:nth-of-type(3):checked ~ .highlights-buttons label:nth-child(3) {
    background-color: #000
  }

  .modal-content {
    padding: 10px 5%;
    min-width: 88%;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 20px;
    line-height: 40px;
  }
}

li img {
  padding-left: 15px;
  padding-top: 3px;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: url("../svg/search.svg") no-repeat 10px center;
  background-size: 25px;
  color: gray;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 55px;
	width: 550px;
  box-shadow: 0 2px 0 0 #ccc;
  border-radius: 5px;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 650px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
